<div id="wrapper" ng-controller='EventosListaController' ng-init='init()'>
    <div class="container">
	    <div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12">
	            <div class="page-header">
	                <h1>Mis Eventos (TAREA DE HB) <small>Lista de eventos</small></h1></div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12">
	            <uib-progressbar ng-show="model.cargando" class="progress-striped active" animate="true" value="100"></uib-progressbar>
	            <div class="table-responsive">
	                <table class="table">
	                    <thead>
	                        <tr>
	                            <th>ID </th>
	                            <th>Nombre </th>
	                            <th>Acciones </th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="evento in model.eventos" class="img animated fadeIn">
	                            <td>{{evento.idevento}}</td>
	                            <td>{{evento.nombre}}</td>
	                            <td>
	                                <!--<a href="#/clientes/{{cliente.idcliente}}"><i class='fa fa-pencil'></i></a>-->
	                                <a href="" ng-click="irEditar(evento);"><i class='fa fa-pencil'></i></a>
	                                <a href="" ng-click="irFotos(evento);"><i class='fa fa-list'></i></a>
	                                <a href="" ng-click="eliminarEvento(evento);"><i class='fa fa-trash'></i></a>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12">
	            <nav>
	                <ul class="pagination">
	                    <li><a ng-click="eventosPrev();" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
	                    <li ng-repeat="i in getNumber(model.paginas) track by $index"><a ng-click="cargarEventos($index+1);">{{$index+1}}</a></li>
	                    <li><a ng-click="eventosNext();" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	                </ul>
	            </nav>
	        </div>
	    </div>
	</div>

</div>